<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>TestSetter Dashboard</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Card Style CSS -->
    <link href="/stylesheets/Dashboard/card_style.css" rel="stylesheet" />


    <!-- Bootstrap core CSS     -->
    <link href="/stylesheets/Dashboard/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/stylesheets/Dashboard/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/stylesheets/Dashboard/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project
    <link href="/stylesheets/Dashboard/demo.css" rel="stylesheet" />-->


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/Dashboard/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a class="simple-text">
                    <%= name %>
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/dashboard_testsetter">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/dashboard_testsetter/user_profile">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>

            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/logout">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

                <div class = "content">
            <div class = "container-fluid">
                <div class = "row">
                    <div class = "col-md-12">

                    <a href="/create" style = "color:black;">
                        <div class="blog-card">
                            <div class="photo photo1"></div>
                            <ul class="details">
                                <!-- <li class="author">John Doe</li>
                                <li class="date">Aug. 24, 2015</li> -->
                            </ul>
                            <div class="description">
                                <h1 style="display:block;font-size:2em;font-weight:bold;">
                                    Create a quiz
                                </h1>
                                <h2>You can create a quiz by following the step-by-step procedure provided</h2>
                                <!-- <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
                            </div>
                        </div>
                    </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="/js/Dashboard/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/js/Dashboard/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/js/Dashboard/bootstrap-checkbox-radio-switch.js"></script>

	<!--  Charts Plugin -->
	<script src="/js/Dashboard/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/js/Dashboard/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/js/Dashboard/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project!
	<script src="/js/Dashboard/demo.js"></script>-->

	<!-- <script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	$.notify({
            	icon: 'pe-7s-gift',
            	message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

            },{
                type: 'info',
                timer: 4000
            });

    	});
	</script> -->

</html>
