<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Error</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="/stylesheets/login_error/base.css">
   <link rel="stylesheet" href="/stylesheets/login_error/main.css">
   <link rel="stylesheet" href="/stylesheets/login_error/vendor.css">
   <!-- script
   ================================================== -->
	<script src="/js/modernizr.js"></script>

   <!-- favicons
	================================================== -->
    <style>
        .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        }
        .button:hover {
        background-color: #08510a;
        color:white;/* Green */
        }
    </style>

</head>

<body>

	<!-- header
   ================================================== -->

   <!-- navigation
   ================================================== -->

	<!-- main content
   ================================================== -->
   <main id="main-404-content" class="main-content-static">

   	<div class="content-wrap">

		   <div class="shadow-overlay"></div>

		   <div class="main-content">
		   	<div class="row">
		   		<div class="col-twelve">

			  			<h1 class="kern-this">ERROR</h1>
			  			<p style="color:white;">
                        Go back to Login page
			  			</p>

			  			<div class="search">
				      	<form action="/">
							<input type="submit" class = "button" value="Login Page">
						</form>
				      </div>

			   	</div> <!-- /twelve -->
		   	</div> <!-- /row -->
		   </div> <!-- /main-content -->
		</div> <!-- /content-wrap -->

   </main> <!-- /main-404-content -->

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="/js/login_error/jquery-2.1.3.min.js"></script>
   <script src="/js/login_error/plugins.js"></script>
   <script src="/js/login_error/main.js"></script>

</body>

</html>
