<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Question Setter</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="/stylesheets/Creation/style.css">

  
</head>

<body>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Question Setter</title>
        <link rel="stylesheet" href="css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

      <form action="/create_question" method="post">
      
        <h1>Fill all the below boxes for the questions and answers</h1>
        
        <fieldset>
          <label for="question">Question:</label>
          <textarea id="question" name="question"></textarea>
          
          <label for="o1">Option 1:</label>
          <textarea id="o1" name="o1"></textarea>
          
          <label for="o2">Option 2:</label>
          <textarea id="o2" name="o2"></textarea>

          <label for="o3">Option 3:</label>
          <textarea id="o3" name="o3"></textarea>

          <label for="o4">Option 4:</label>
          <textarea id="o4" name="o4"></textarea>

          <label for="answer">Answer (Option No.)</label>
          <input type="text" id="answer" name="answer" value = 1>

          <label for="marks">Marks for this question</label>
          <input type="number" id="marks" name="marks" value = 1>
          
        </fieldset>
        
        <button type="submit">Next</button>
      </form>
      
    </body>
</html>
  
  
</body>
</html>
